<ion-header>
  <ion-toolbar color="success">
    <ion-title> Sobre </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-avatar slot="end">
      <img src="assets/FT-1.jpeg"/>
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      <div>
        <h2>João Luiz Casagrande</h2>
        <p>Aluno da ETEC Cidade Do Livro</p>
        <p>Lençóis Paulista</p>
        <p>+55(14)99163-4288</p>
        <p>
          <a href="mailto:joaoluizcasagrande@gmail.com">joaoluizcasagrande@gmail.com</a>
        </p>
      </div>
    </ion-label>
  </ion-item>

  <div class="ion-text-center">
    <img src="https://assets.pokemon.com/static2/br/img/icons/tcgo_logo.png">
  </div>

  <ion-item lines="full">
    <ion-label>Versão</ion-label>
    <ion-badge slot="end" color="primary">0.1</ion-badge>
  </ion-item>

  <ion-item lines="full">
    <ion-label>Ano</ion-label>
    <ion-badge slot="end" color="tertiary">2021</ion-badge>
  </ion-item>

  <ion-item lines="full">
    <ion-label>Turma</ion-label>
    <ion-badge slot="end" color="success"> Turma A</ion-badge>
  </ion-item>
</ion-content>
